body {
    margin: 0;
    padding: 0;
}
.col-md-4{
    margin: 2rem;
}
.card .card-header{
    background-color: transparent;
    border-bottom: none;
    overflow: hidden;
}
img{
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
}
.card-header > img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.card-body{
    background-color: #f3f3f3;
}
.card-body > h5{
    font-weight: 700;
}
.card-footer{
    border-top: none;
    background-color: #f3f3f3;
    
}
.card-footer > p{
    font-size: 1.7rem;
}